.student-main{
	//background: #187FC4 url('img/main_bg.gif') repeat-y center top !important;
	background-color: #f3f3f3;
	border-top: 2px solid #FABE00;
}

.student-main #main-content{
	background-color: #fff;
	padding-top: 25px;
	border-right: 1px solid #e4e2d5;
	border-left: 1px solid #e4e2d5;
}

.student-main #sidebar-right{
	padding-top: 25px;
	margin-top: 0px;
}

.student-main #sidebar-right .sidebar-module:first-child{
	padding-top: 0px;
}

.student-page .container{
	width: 100%;
}

.student-page .row{
    overflow: hidden; 
}

.student-page [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/*
.student-page .row {
    display: table;
}

.student-page [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
*/
/*
@media (max-width: 767px){
	.student-page .row {
		display: block;
	}
	.student-page [class*="col-"] {
		float: left;
		display: block;
	}
}

*/
.student-page .vertical-nav > li{
	border-bottom: none !important;
}

@media (max-width: 991px){
	.sidebar-module ul.vertical-nav > li > a{
		font-size: 13px;
	}
}