h4 {
  margin-top: 25px;
}
.row {
  margin-top: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 0px;
  padding-bottom: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#related-article h2,
#top-nav-sub-menu ul.vertical-nav > li.current-menu-parent > a{
	font-weight: 500;
}

#quick-links-block .sidebar-module h2{
	color: #333;
}

.block-views ul li img.img-thumbnail{
	margin-right: 15px;
}
.date-repeat-instance {
    display: inline-block;
	color: #6C6C6C;
	font-size: 12px;
}